# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env*

# Logs
*.log
logs/

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
tmp/
temp/